/index.php
/admin/*
/application/models/*
/application/controllers/*
/application/components/*
/application/translations/*
/application/views/azure/*
/application/views/admin/*
/bin/*
/out/admin/*
/out/azure/*
/out/media/*
/core/*
/modules/invoicepdf/*
/modules/functions.php
/.htaccess
/COPYING
/README
/bootstrap.php
/config.inc.php
/export/*
/favicon.ico
/log/*
/nbproject/*
/offline.html
/out/downloads/*
/out/pictures/*
/oxseo.php
/pkg.rev
/pkg.info
/robots.txt
/tmp/*
/widget.php
/xd_receiver.htm
/getimg.php
/setup/*